.content_box_full
  .title
   | NEWS
  #tweets
  .end
javascript:
   $(function() {
       $("#tweets").tweet({
           query: 'weareniki',
           join_text: false,
           avatar_size: 32,
           count: 5,
           loading_text: "loading tweets..."
       });
   });
