@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/bebas-neue/BebasNeue.eot");
  src: local("☺"), url("/fonts/bebas-neue/BebasNeue.ttf") format("truetype"), url("/fonts/bebas-neue/BabasNeue.svg#iconic") format("svg");
  font-weight: normal;
  font-style: normal;
}

#wrapper {
  overflow: hidden;
}

html {
  overflow-y: scroll;
}

body {
  line-height: 1.5;
  font-family: "Trebuchet MS";
  color: #f9f29d;
  font-size: 75%;
  background: #2e1313 url('../images/background.png?1310128018') center center;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #f9f29d;
}
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
body h6 {
  font-size: 1em;
  font-weight: bold;
}
body p {
  margin: 0 0 1.5em;
}
body p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
body p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
body a {
  text-decoration: underline;
  color: #f9f29d;
}
body a:visited {
  color: #f9f29d;
}
body a:focus {
  color: #f9f29d;
}
body a:hover {
  color: #f9f29d;
}
body a:active {
  color: #f9f29d;
}
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
body strong, body dfn {
  font-weight: bold;
}
body em, body dfn {
  font-style: italic;
}
body sup, body sub {
  line-height: 0;
}
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
body del {
  color: #666666;
}
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
body li ul, body li ol {
  margin: 0;
}
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
body ul {
  list-style-type: disc;
}
body ol {
  list-style-type: decimal;
}
body dl {
  margin: 0 0 1.5em 0;
}
body dl dt {
  font-weight: bold;
}
body dd {
  margin-left: 1.5em;
}
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
body th {
  font-weight: bold;
}
body thead th {
  background: #c3d9ff;
}
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
body table.striped tr:nth-child(even) td,
body table tr.even td {
  background: #e5ecf9;
}
body tfoot {
  font-style: italic;
}
body caption {
  background: #eeeeee;
}
body .quiet {
  color: #fffffd;
}
body .loud {
  color: #f5ea5d;
}
body .clear {
  clear: both;
}
body .nowrap {
  white-space: nowrap;
}
body .clearfix {
  overflow: hidden;
  *zoom: 1;
}
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
body .first {
  margin-left: 0;
  padding-left: 0;
}
body .last {
  margin-right: 0;
  padding-right: 0;
}
body .top {
  margin-top: 0;
  padding-top: 0;
}
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
body .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 600 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(5%, rgba(100, 100, 225, 0.25)), color-stop(5%, rgba(0, 0, 0, 0)), color-stop(6.667%, rgba(0, 0, 0, 0)), color-stop(6.667%, rgba(100, 100, 225, 0.25)), color-stop(11.667%, rgba(100, 100, 225, 0.25)), color-stop(11.667%, rgba(0, 0, 0, 0)), color-stop(13.333%, rgba(0, 0, 0, 0)), color-stop(13.333%, rgba(100, 100, 225, 0.25)), color-stop(18.333%, rgba(100, 100, 225, 0.25)), color-stop(18.333%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(100, 100, 225, 0.25)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(26.667%, rgba(0, 0, 0, 0)), color-stop(26.667%, rgba(100, 100, 225, 0.25)), color-stop(31.667%, rgba(100, 100, 225, 0.25)), color-stop(31.667%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(100, 100, 225, 0.25)), color-stop(38.333%, rgba(100, 100, 225, 0.25)), color-stop(38.333%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(100, 100, 225, 0.25)), color-stop(45%, rgba(100, 100, 225, 0.25)), color-stop(45%, rgba(0, 0, 0, 0)), color-stop(46.667%, rgba(0, 0, 0, 0)), color-stop(46.667%, rgba(100, 100, 225, 0.25)), color-stop(51.667%, rgba(100, 100, 225, 0.25)), color-stop(51.667%, rgba(0, 0, 0, 0)), color-stop(53.333%, rgba(0, 0, 0, 0)), color-stop(53.333%, rgba(100, 100, 225, 0.25)), color-stop(58.333%, rgba(100, 100, 225, 0.25)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(100, 100, 225, 0.25)), color-stop(65%, rgba(100, 100, 225, 0.25)), color-stop(65%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(100, 100, 225, 0.25)), color-stop(71.667%, rgba(100, 100, 225, 0.25)), color-stop(71.667%, rgba(0, 0, 0, 0)), color-stop(73.333%, rgba(0, 0, 0, 0)), color-stop(73.333%, rgba(100, 100, 225, 0.25)), color-stop(78.333%, rgba(100, 100, 225, 0.25)), color-stop(78.333%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(100, 100, 225, 0.25)), color-stop(85%, rgba(100, 100, 225, 0.25)), color-stop(85%, rgba(0, 0, 0, 0)), color-stop(86.667%, rgba(0, 0, 0, 0)), color-stop(86.667%, rgba(100, 100, 225, 0.25)), color-stop(91.667%, rgba(100, 100, 225, 0.25)), color-stop(91.667%, rgba(0, 0, 0, 0)), color-stop(93.333%, rgba(0, 0, 0, 0)), color-stop(93.333%, rgba(100, 100, 225, 0.25)), color-stop(98.333%, rgba(100, 100, 225, 0.25)), color-stop(98.333%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px);
  -moz-background-size: 100% 20px, auto;
  -webkit-background-size: 100% 20px, auto;
  -o-background-size: 100% 20px, auto;
  background-size: 100% 20px, auto;
  background-position: left top;
}
body .feedback, body .error, body .alert, body .notice, body .success, body .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
body .error, body .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
body .error a, body .alert a {
  color: #8a1f11;
}
body .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
body .notice a {
  color: #514721;
}
body .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
body .success a {
  color: #264409;
}
body .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
body .info a {
  color: #205791;
}
body .hide {
  display: none;
}
body .highlight {
  background: yellow;
}
body .added {
  background: #006600;
  color: white;
}
body .removed {
  background: #990000;
  color: white;
}
body .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
body .border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
}
body .colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #dddddd;
}
body hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
body hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
body form.inline {
  line-height: 3;
}
body form.inline p {
  margin-bottom: 0;
}
body a {
  text-decoration: none;
  outline: none;
}

#container {
  width: 590px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

#content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
}
* html #content {
  overflow-x: hidden;
}
#content .content_up {
  padding-bottom: 80%;
}
#content .content_down {
  padding-top: 80%;
}
#content .content_up {
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
  background: #c2202d;
  float: left;
}
* html #content .content_up {
  overflow-x: hidden;
}
#content .border {
  border: 1px solid grey;
  width: 130px;
  float: left;
  background: white;
  padding: 20px;
  margin-right: 13px;
  margin-bottom: 20px;
  -moz-box-shadow: grey 1px 1px 5px;
  -webkit-box-shadow: grey 1px 1px 5px;
  -o-box-shadow: grey 1px 1px 5px;
  box-shadow: grey 1px 1px 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
}
#content .border .photo {
  height: 130px;
  background: white;
}
#content .border:hover {
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
#content .border_last {
  border: 1px solid grey;
  width: 130px;
  float: left;
  background: white;
  padding: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  -moz-box-shadow: grey 1px 1px 5px;
  -webkit-box-shadow: grey 1px 1px 5px;
  -o-box-shadow: grey 1px 1px 5px;
  box-shadow: grey 1px 1px 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
}
#content .border_last .photo {
  height: 130px;
  background: white;
}
#content .border_last:hover {
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

ul.show_list {
  border-bottom: 1px dotted #f9f29d;
  margin-bottom: 20px;
}

ul.list {
  padding-top: 20px;
  border-bottom: 1px dotted #f9f29d;
}

ul.list_opp {
  background: #902027;
  padding-top: 20px;
  border-bottom: 1px dotted #f9f29d;
}

.content_box {
  padding: 15px;
  padding-left: 0px;
}

.content_box_full {
  padding: 0px;
}

.title {
  font-family: "BebasNeue";
  font-weight: bold;
  font-size: 45px;
  margin-left: 20px;
}
.title .show_list {
  font-family: "Trebuchet MS";
}

.text_up {
  font-family: "Trebuchet MS";
  font-size: 12px;
  font-weight: 100;
  padding-left: 21px;
}

.show_table {
  font-family: "BebasNeue";
  padding: 30px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.show_list {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
.show_list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.show_list li:first-child, .show_list li.first {
  padding-left: 0;
}
.show_list li:last-child {
  padding-right: 0;
}
.show_list li.last {
  padding-right: 0;
}
.show_list .where {
  margin-right: 140px;
  margin-left: 20px;
}
.show_list .when {
  margin-right: 95px;
}
.show_list .time {
  margin-right: 60px;
}
.show_list .location {
  margin-right: 0px;
}

.list_opp {
  border: 1px solid grey;
  font-size: 14px;
  height: 40px;
  font-family: "Trebuchet MS";
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
.list_opp li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.list_opp li:first-child, .list_opp li.first {
  padding-left: 0;
}
.list_opp li:last-child {
  padding-right: 0;
}
.list_opp li.last {
  padding-right: 0;
}
.list_opp .where {
  margin-right: 110px;
  margin-left: 20px;
}
.list_opp .location {
  margin-right: 0px;
}
.list_opp .time {
  margin-right: 40px;
}
.list_opp li {
  margin-right: 45px;
}

.list {
  border: 1px solid grey;
  padding: 10px;
  font-size: 14px;
  height: 40px;
  font-family: "Trebuchet MS";
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
.list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.list li:first-child, .list li.first {
  padding-left: 0;
}
.list li:last-child {
  padding-right: 0;
}
.list li.last {
  padding-right: 0;
}
.list .where {
  margin-right: 110px;
  margin-left: 20px;
}
.list .location {
  margin-right: 0px;
}
.list .time {
  margin-right: 40px;
}
.list li {
  margin-right: 45px;
}

#logo {
  position: relative;
  background: url('../images/logo.png?1310127986');
  height: 373px;
  float: left;
  width: 590px;
}
#logo .menu_up {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: -20px;
}
#logo .menu_up .news {
  background: url('../images/news.png?1310053739');
  height: 108px;
  width: 129px;
  float: left;
  z-index: 9;
  display: block;
}
#logo .menu_up .show {
  background: url('../images/show.png?1310053739');
  height: 108px;
  width: 153px;
  float: left;
  display: block;
}
#logo .menu_up .information {
  background: url('../images/info.png?1310053739');
  height: 108px;
  width: 125px;
  float: left;
  display: block;
}
#logo .menu_down {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: -35px;
}
#logo .menu_down .music {
  background: url('../images/music.png?1310053739');
  height: 138px;
  width: 109px;
  float: left;
  display: block;
}
#logo .menu_down .videos {
  background: url('../images/videos.png?1310053739');
  height: 138px;
  width: 118px;
  float: left;
  display: block;
}
#logo .menu_down .photos {
  background: url('../images/photos.png?1310053739');
  height: 138px;
  width: 131px;
  float: left;
  display: block;
}

.section {
  display: block;
}

.content_down {
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
  background: #8bc1a9;
  float: left;
}
* html .content_down {
  overflow-x: hidden;
}

.sub_title {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 900;
  color: #ca2027;
}

.movie {
  margin-left: 20px;
  margin-right: 0px;
}

.twit {
  margin-left: 20px;
  height: 25%;
}
.twit .twitts {
  font-family: "Trebuchet MS";
  font-weight: bold;
  float: left;
  width: 80%;
  padding-top: 5px;
  margin-top: -5px;
  height: 400px;
}

.nick {
  font-size: 13px;
  font-weight: 900;
  color: #2e1313;
}

.tw_avatar {
  height: 50px;
  width: 50px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 8px;
  margin-bottom: 30px;
  float: left;
  background: black;
}

.twit_act {
  float: left;
  color: #2e1313;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
.twit_act li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.twit_act li:first-child, .twit_act li.first {
  padding-left: 0;
}
.twit_act li:last-child {
  padding-right: 0;
}
.twit_act li.last {
  padding-right: 0;
}

.end {
  height: 10px;
  width: 30%;
  margin: 0px auto;
  border-bottom: 1px dotted #f9f29d;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content_photos {
  height: 330px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.content_music {
  height: 200px;
  width: 80%;
  margin: 0px auto;
  padding: 20px;
  background: #5b8272;
}
.content_music .thumb_EP {
  height: 150px;
  width: 150px;
  background: red;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}
.content_music .name_EP {
  font-size: 30px;
  font-weight: bold;
  float: left;
  line-height: 20px;
}
.content_music .player {
  height: 50px;
  width: 290px;
  float: right;
}

.links_music {
  margin-left: 0px;
  height: 20px;
  color: #f9f29d;
  float: none;
  float: left;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  color: #f9f29d;
}
.links_music li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.links_music li:first-child, .links_music li.first {
  padding-left: 0;
}
.links_music li:last-child {
  padding-right: 0;
}
.links_music li.last {
  padding-right: 0;
}
.links_music:visited {
  color: #f9f29d;
}
.links_music:focus {
  color: yellow;
}
.links_music:hover {
  color: black;
}
.links_music:active {
  color: white;
}

.content_music_up {
  height: 160px;
}
.content_music_up ul {
  padding: 0px;
}
.content_music_up ul li a {
  margin-left: 0px;
}

#tweets {
  float: center;
  padding: 0px;
  margin: 0px;
  height: 800px;
}
#tweets ul.tweet_list {
  padding: 0px;
  margin-right: 0px;
  list-style: none;
  margin: 0px;
}
#tweets ul.tweet_list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
#tweets ul.tweet_list li {
  overflow: hidden;
  border-top: 1px dotted #f9f29d;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  text-decoration: none;
}
#tweets ul.tweet_list li li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
#tweets ul.tweet_list li .tweet_avatar {
  margin-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 30px;
}
* html #tweets ul.tweet_list li .tweet_avatar {
  overflow-x: hidden;
}
#tweets ul.tweet_list li .tweet_time, #tweets ul.tweet_list li .tweet_text {
  color: #400e12;
  margin-left: 10px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 110px;
}
* html #tweets ul.tweet_list li .tweet_time, * html #tweets ul.tweet_list li .tweet_text {
  overflow-x: hidden;
}
#tweets ul.tweet_list li .tweet_time {
  font-size: 10px;
}
#tweets ul.tweet_list li .tweet_time a {
  color: #400e12;
}
#tweets ul.tweet_list li .tweet_text {
  width: 350px;
}
#tweets ul.tweet_list .tweet_odd {
  background: #902027;
}

#back {
  position: fixed;
  bottom: 0px;
  padding: 20px;
  font-size: 40px;
  font-family: "BebasNeue";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

h2 {
  padding: 0px 20px;
}

#promotion {
  position: fixed;
  top: 0px;
  right: -150px;
  height: 192px;
}
#promotion a {
  display: block;
  background: url('../images/banner_made.png?1310128715');
  width: 376px;
  height: 192px;
}
#promotion a span {
  display: none;
}
